<div class="row">
  <div class="col-md-12 block-inline mb-2">
    <h2 style="display:inline"><%= icon "fas", "thumb-tack", class: "text-muted" if @forum_thread.pinned? %> <%= @forum_thread.title %></h2>
  </div>
</div>

<div class="d-flex mb-4">
  <div class="thread-details-custom">
    <%= t("created_by") %> <%= @forum_thread.user.name %> • <%= time_ago_in_words(@forum_thread.created_at) %> <%= t("ago") %>
  </div>
  <div class="category-chip mx-3" style="color: <%= @forum_thread.forum_category.color %>; border-color: <%= @forum_thread.forum_category.color %>">
    <%= @forum_thread.forum_category.name %>
  </div>
  <% if @forum_thread.spam? %>
    <%= link_to 'Unmark as Spam', simple_discussion.unmark_as_spam_forum_thread_path(@forum_thread), method: :put, class: "btn btn-warning ml-auto", data: { confirm: 'Are you sure you want to unmark this thread as spam?' } %>
  <% else %>
    <%= link_to 'Mark as Spam', simple_discussion.mark_as_spam_forum_thread_path(@forum_thread), method: :put, class: "btn btn-danger ml-auto", data: { confirm: 'Are you sure you want to mark this thread as spam?' } %>
  <% end %>
</div>

<%= render partial: "simple_discussion/forum_posts/forum_post", collection: @forum_thread.forum_posts.includes(:user).sorted %>
<%= render partial: "simple_discussion/forum_posts/form" if user_signed_in? %>

<%= render partial: "login_bar" if !user_signed_in? %>
